<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Monitor_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Monitor_Application.Properties.Settings>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastSessionGame" serializeAs="String">
                <value>No previous session</value>
            </setting>
            <setting name="lastSessionTime" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="lastSessionErrors" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="pluginSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="runOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultGameSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProgramConfigurationXML" serializeAs="String">
                <value/>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBalloonNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WndLoc" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WndSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WndState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInjectorHelper" serializeAs="String">
                <value>True</value>
            </setting>
        </Monitor_Application.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
